html, body {
    height: 100%;
    margin: 0px;
    width: 100%;
}

#layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "content"
    "footer"; 
    height: 100%;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: content;
}

#google-logo {
    width: 272px;
    height: 92;
    font-size: 13px;
    margin-top: 139px;
}

#search {
    width: 500px;
    border-radius: 25px;
    height: 34px;
    margin-top: 30px;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #f2f2f2;
    background-color: white;
}

/* #buttons {
    margin-top: 30px;
} */

.buttons {
    background-color: #f2f2f2;
    color: #5F6368;;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    margin: 30px 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #f2f2f2;
}

.buttons:hover{
    border: 1px solid #c6c6c6;
    color: #222;
}

#header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2,auto) 1fr repeat(4,auto);
    grid-template-areas: 
    "about store . gmail bilder app anmelden";
    /* grid-gap: 15px; */
    font-size: 13px;
    font-family: Arial, sans-serif;
    opacity: 0.75;
    margin: 10px 25px;
    align-items: center;
}
.header-spacing{
    margin-left: 15px;
}

#p-about {
    display: grid;
    grid-area: about;
}

#p-store {
    display: grid;
    grid-area: store;
}

#p-gmail {
    display: grid;
    grid-area: gmail;

}

#p-bilder {
    display: grid;
    grid-area: bilder;

}

#app-image {
    display: grid;
    grid-area: app;
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    background-position: -132px -38px;
    opacity: .55;
    background-color: transparent;
}

#anmelden {
    display: grid;
    grid-area: anmelden;
    color: #fff;
    font-weight: bold;
    /* background: linear-gradient(to top,#4387fd,#4683ea); */
    background-color: rgb(12, 100, 241);
    border-radius: 2px;
    border: 1px solid rgb(12, 100, 241);
    line-height: 28px;
    height: 28px;
    width: 90px;
}

#anmelden:hover{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "country country country"
    "footer-left . footer-right";
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    margin-right: 2px;
}

.footer-spacing{
    margin-left: 20px;
}

#border{
    grid-area: country;
    align-self: center;
    border: 1px solid #adadad;
    width: 100%;
}

#country{
    grid-area: country;
    padding-left: 27px;
    height: 10px;
}

#footer-left {
    display: flex;
    flex-direction: row;
    padding-left: 27px;
    grid-area: footer-left;
    align-self: center;
}


#footer-right {
    display: flex;
    flex-direction: row;
    grid-area: footer-right;
    align-self: center;
    margin-right: 20px;
}
